@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    background-color: #EC407A;
    color: white;
    font-family: 'Lato', sans-serif;
}

.root {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.weather-app {
    box-shadow: 0 3px 4px rgba(0,0,0,0.3);
    max-width: 500px;
    width: 100%;
    background-color: #F57F17;
    text-align: center;
}

.description {
    text-transform: capitalize;
}

.temperature-container {
    font-size: 3rem;
}

.unit {
    cursor: pointer;
    text-decoration: underline;
    color: #3949AB;
}